<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    {% load bootstrap3 %}

    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Database</title>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'top_movies' %}">MovieBase</a>
        </div>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'movies_list' %}">All Movies</a>
                </li>
                <li>
                    <a href="{% url 'genres_list' %}">Genres </a>
                </li>
             </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_anonymous %}
                <li>
                    <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'rater_history' user.rater.id %}">Movie History</a>
                </li>
                <li>
                    <a href="{% url 'show_rater' user.rater.id %}">  {{ user }}</a>
                    </li>
                <li>
                    <a href="{% url 'logout' %}">logout</a>
                    </li>
            {% endif %}
            </ul>
    </div>
</nav>
<div class="container">
    {% bootstrap_messages %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
