{% extends "moviebase/base.html" %}

{% block content %}
    {% if user.is_anonymous %}
        <p>Please <a href="{% url 'django.contrib.auth.views.login' %}">login  </a> to see this page.</p>
    {% elif user.rater = rater %}
        <h2>Hello, User {{ rater.id }}</h2>
        <h3>Your Ratings history:</h3>
        {% for rating in ratings %}
            <div>
            {% if rating.text_rating == 'None' %}
                <p>Title: <a href="{% url 'show_movie' rating.movie.id %}">{{ rating.movie.title }}</a> Rating:
                    {{ rating.rating }}</p>
            {% else %}
                <p>Title: <a href="{% url 'show_movie' rating.movie.id %}">{{ rating.movie.title }}</a> Rating:
                {{ rating.rating }}, Text Rating: {{rating.text_rating}}</p>
                {% endif %}
            {% endfor %}
        <h3>Movies You Have Not Seen:</h3>
        {% for movie in movies_not_seen %}
            <p>Title: <a href="{% url 'show_movie' movie.id %}">{{ movie.title }}</a> Average Rating:
            {{ movie.average_rating }}</p>
            {% endfor %}
            </div>
        {% endif %}
{% endblock %}