{% extends "moviebase/base.html" %}
{% block content %}
<body>
<div class="row">
    <div class="col-sm-4">
        <h2>Movie {{ movie.title }}</h2>
        {% if user.is_anonymous %}
             <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
        {% elif user_rating %}
            <p> You have already reviewed {{ movie }} you gave it a {{ user_rating.rating }}</p>
            <h2>Edit your rating</h2>
            <form method="POST" action="{% url 'edit_rating' movie.id user_rating.id %}">
                {% csrf_token %}
                {{ edit_form.as_p }}
                <!-- Provide a button to click to submit the form. -->
                <input type="submit" name="submit" value="Edit rating"/>
            </form>
        {% else %}
        <h2>Add a new rating</h2>
        <form method="POST" action="{% url 'make_rating' movie.id %}">
            {% csrf_token %}
            {{ rating_form.as_p }}

           <!-- Provide a button to click to submit the form. -->
           <input type="submit" name="submit" value="Add rating"/>
        </form>
        {% endif %}
        <h3>Average rating: {{ movie.average_rating }}</h3>
        <h3>Total ratings: {{ movie.ratings_count }}</h3>
        <h3>Ratings</h3>
        {% for rating in ratings %}
            <div>
                <ul>
                    <li>
                    <a href="{% url 'show_rater' rating.rater.id %}"> Rater {{ rating.rater.id }}</a>,
                        Rating: {{ rating.rating }}
                </li>
                </ul>
            </div>
        {% endfor %}</div>
    <div class="col-sm-8">
            <img src="{% url 'ratings_chart' movie.id %}">
        </div>
    </div>
{% endblock %}
</body>
</html>